.GraphMetadata {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 1300px;
    display: flex;
    padding-top: 6.9rem;
    justify-content: right;
    background: none;
}

.GraphMetadata-body{
    position: fixed;
    background: none;
    padding: 2rem;
    padding-left: 3.5rem;
    left: 200;
    height: 755px;
    border: 6px ;
    border-left-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.2);
    white-space: pre
}

.columns-2 {
    column-count: 2;
  }