.title{
    padding-top: 1rem;
    position: static;
    padding-bottom: 2rem;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.2);
    user-select: none;
}

.canvas{
    background: white;
    position: static
}

.edges{
  position: absolute;
}

.button{
  position: static;
  color: black;
  width: 100px;
  height: 25px;
}

.menu{
  padding-top: 1rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 805px;
}

.in{
  position: relative;
  background: none;
  border: none;
  outline: none;
}

.background{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 165px;
  background: none;
  display: flex;
  justify-content: left;
  padding-top: 46.6rem;
}

.nameBody{
  background: none;
  left: 200px;
  width: 420px;
  height: 200px;
}

.commentBody{
  margin-top: 65px;
  background: none;
  left: 200px;
  width: 420px;
  height: 200px;
}